//Fonts
$playfair: 'Playfair Display', serif;
$lato: 'Lato', sans-serif;

//Colors Musearch
$black: #1E1E1E;
$white: #f9f9f9;
$rosy-brown: #B5777B;
$navy: #08006E;
$dark-gray: #9F9F9F;
$white-smoke: #EBEBEB;
$sienna: #A03F45;
$carbon: #343434;

//Colors Rheumapp
$ra-white: #FDFDFD;
$ra-black: #333333;