@import 'variables';
@import 'responsive';
@import 'mixins';
@import 'typography';

body {
  background-color: $white;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
}

strong {
  font-weight: bold !important;
}
